.formContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.formInput {
    width: 350px;
}

.todoContainer {
    margin-top: 32px;
    border: 2px solid gray;
    padding: 12px;
    width: 350px;
}